.recent-user {
    /* Size. */
    width: 350px;
    height: 75px;
    /* Display */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    /* Appearance */
    font-family: "Karla", sans-serif;
    font-size: 1.1rem;
    background-color: red;
    border: 2.5px solid black;
    border-radius: 0 10px 10px 0;
    /* box-shadow: 0 9px #999; */
    padding: 1vw;
    transition: all 0.1s;
    cursor: pointer;
}

.recent-user:active {
    /* box-shadow: 0 5px #666; */
    transform: scale(0.975, 0.975);
}

.firm {
    background-color: #c4a484;
}

.firm:hover {
    filter: brightness(120%);
}

.proprietor {
    background-color: #538bc1;
    color: white;
}

.proprietor:hover {
    filter: brightness(120%);
}

.recent-user .proprietor-id {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    font-size: 0.975rem;
}

.recent-user .firm-id {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    font-size: 0.975rem;
}

.recent-user .username {
    font-size: 1.075rem;
    font-weight: 600;
}
