.recent-users {
    margin-top: 5%;
    display: flex;
    flex-direction: column;
}

.recent-user {
    display: flex;
    flex-direction: row;
    margin-bottom: 25px;
}

.delete-user {
    width: 10%;
    color: white;
    background-color: #ca2b53;
    border: 2.5px solid black;
    border-radius: 10px 0 0 10px;
    /* box-shadow: 0 9px #999; */
    margin-right: -2px;
    transition: all 0.1s;
}

.delete-user:hover {
    filter: brightness(110%);
}

.delete-user:active {
    /* box-shadow: 0 5px #666; */
    transform: scale(0.95, 0.95);
}
