.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: blue;
    color: white;
}

.main .title {
    margin: 10px 0 10px 0;
}

.main .form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main .form .input-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 10px 0 10px 0;
}

.main .form .input-grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 10px 0 10px 0;
}

.main .form .input-grid .input-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0 10px 0 10px;
}

.main .form input,
.main .form select {
    margin: 10px 10px 10px 10px;
}

.main .button-group {
    display: flex;
    flex-direction: row;
}

.main .button-group button {
    margin: 10px 5px 10px 5px;
}
