.body {
    display: flex;
    flex-direction: row;
    height: 90vh;
    width: 100vw;
}

.MainMenu{
    display: felx;
    position: relative;
    height: 100%;
    width: 20%;
}


.content {
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 80%;
}


