.body {
    display: flex;
    flex-direction: row;
    width: 97.5vw;
    height: 85vh;
    margin-top: 3.5vh;
    margin-bottom: 0vh;
}

.MainMenu {
    display: flex;
    position: relative;
    height: 100%;
    width: 15vw;
    align-items: left;
    background-color: #480ca8;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 15px;
}

.MenuBarList {
    height: auto;
    padding: 0;
    width: 100%;
}

.MenuBarList .row {
    width: 100%;
    height: 60px;
    margin: 0;
    display: flex;
    list-style-type: none;
    flex-direction: row;
    color: white;
    justify-content: center;
    align-items: center;
    /* font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
        "Lucida Sans", Arial, sans-serif; */
}

.MenuBarList .row:hover {
    background-color: #480ca8;
    cursor: pointer;
    border-radius: 15px;
    padding: -10px;
    filter: brightness(125%);
    margin: 0px;
}

.user-details {
    height: auto;
    padding: 0;
    width: 100%;
}

.user-details .row {
    width: 100%;
    height: 60px;
    margin: 0;
    display: flex;
    list-style-type: none;
    flex-direction: row;
    color: white;
    justify-content: center;
    align-items: center;
}

a {
    color: white;
    text-decoration: none;
}
.SBactive li {
    background-color: #480ca8;
    filter: brightness(125%);
    border-radius: 15px;
}

.logout-btn {
    background-color: #e63946;
    width: 100%;
    height: 60px;
    border: 0;
    border-radius: 0 0 15px 15px;
    color: white;
    font-family: "Inter", sans-serif;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1rem;
}

.logout-btn:hover {
    filter: brightness(125%);
}

.content {
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: black;
    margin-left: 1vw;
    border-radius: 15px;
}
