.citymaster {
    display: flex;
    flex-direction: column;

    width: 100%;
    height: 100%;

    padding: 25px;
}
.Inputs {
    width: 75%;

    margin-top: 4vh;
    margin-bottom: 4vh;

    align-self: center;
}
.Inputs form {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    width: 100%;
}

.btn {
    width: 80px;
    height: 40px;

    border: 2.5px solid black;
    border-radius: 5px;

    font-family: "Karla", sans-serif;
    font-size: 1rem;
    padding: 5px;

    transition: 200ms;
}

.btn:active {
    transform: scale(0.95, 0.95);
}

.Inputs .add-btn {
    background-color: #40916c;
    color: white;
    transition: 200ms;
}

.Inputs .add-btn:hover {
    filter: brightness(125%);
}

.Inputs .update-btn {
    background-color: #219ebc;
    color: white;
}

.Inputs .update-btn:hover {
    filter: brightness(110%);
}

.table {
    height: 100%;
    overflow: auto;
    width: 50;
    display: flex;
    flex-direction: column;
}

.table table {
    font-family: "Karla", sans-serif;
}

.table table .btn-grp {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    width: 100%;
}
.btn-grp {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    width: 100%;
}
.table table .btn {
    width: 60px;
    height: 30px;

    font-size: 0.9rem;

    margin-right: 5px;
}

.table table .del-btn {
    background-color: #ca2b53;
    color: white;
}


.table table .del-btn:hover {
    filter: brightness(125%);
}


.table table .edit-btn {
    background-color: #219ebc;
    color: white;
}


.table table .edit-btn:hover {
    filter: brightness(110%);
}

.input-city,
.input-state {
    background: #edf2f4;
    width: 40%;
    color: #212121;
    font-family: "Karla", sans-serif;
    font-size: 1rem;
    padding: 10px;
    border-radius: 5px;
    height: 40px;
    border: 2.5px solid black;
}
