.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: powderblue;
  margin-top: 50px;
  border: 1px solid black;
}
.main .firstline--greypurchase {
  display: flex;
  flex-direction: row;
  padding: 10px;

  overflow: auto;
  justify-content: space-evenly;
  width: 100%;
}

.main .firstline--greypurchase input {
  width: 100px;
}
.main .secondline--greypurchase {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 10px;
  overflow: auto;
}
.main .secondline--greypurchase input {
  width: 100px;
}
.main .secondline--greypurchase select {
  width: 160px;
}

.thirdline--greypurchase {
  display: flex;
  flex-direction: row;
  padding: 10px;
  height: 60px;
  justify-content: space-evenly;
  overflow: auto;
}

.thirdline--greypurchase input {
  width: 100px;
}

.fourthline--greypurchase {
  display: flex;
  flex-direction: row;
  padding: 10px;
  justify-content: space-evenly;
  overflow: auto;
}
.main .fourthline--greypurchase select {
  width: 150px;
}
.fourthline--greypurchase input {
  width: 100px;
}

.fifthline--greypurchase {
  display: flex;
  flex-direction: row;
  padding: 10px;
  justify-content: space-evenly;
  overflow: auto;
}
.fifthline--greypurchase input{
  width: 100px;
}

.sixthline--greypurchase {
  display: flex;
  flex-direction: row;
  padding: 10px;
  justify-content: space-evenly;
  overflow: auto;
}

.sixthline--greypurchase input {
  width: 100px;
}

.seventline--greypurchase {
  padding: 10px;
  overflow: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

/* .Toastify__toast-container {
  width: 320px;
}
.Toastify__toast--default {
    background: #fff;
    color: #aaa;
 }
  .Toastify__toast--info {
    background: #3498db;
 }
  .Toastify__toast--success {
    background: #07bc0c;
 }
  .Toastify__toast--warning {
    background: #f1c40f;
 }
  .Toastify__toast--error {
    background: #e74c3c;
 } */
