.sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    width: 17.5vw;
    height: 100%;

    background-color: #480ca8;
    border-radius: 15px;

    transition: 350ms;
}

.sidebar a {
    color: white;
    text-decoration: none;
}

.sidebar--nav-links {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    width: 100%;

    padding: 10px;
}

.sidebar--nav-link {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;

    width: 100%;
    height: 50px;

    margin-bottom: 10px;
}

.sidebar--nav-link:hover {
    cursor: pointer;

    background-color: #480ca8;
    border-radius: 15px;

    filter: brightness(125%);
}

.sidebar--active-nav-link {
    background-color: #480ca8;
    border-radius: 15px;

    filter: brightness(125%);
}

.sidebar--nav-link li {
    list-style-type: none;

    margin-left: 1vw;

    color: white;
    font-weight: 600;
    font-size: 1rem;
    letter-spacing: 1px;
    text-decoration: none;
    text-transform: uppercase;
}

.sidebar--user {
    display: flex;
    flex-direction: column;

    width: 100%;
}

.sidebar--user-detail {
    display: flex;
    flex-direction: row;

    width: 100%;
    height: 50px;

    color: white;
    justify-content: center;
    align-items: center;
    list-style-type: none;
}

.sidebar--user-name {
    font-weight: 600;
    text-transform: uppercase;
}

.sidebar--user-id {
    font-weight: 800;
}

.sidebar--logout-btn {
    width: 100%;
    height: 50px;

    margin-top: 5px;

    background-color: #e63946;
    border: 0;
    border-radius: 0 0 15px 15px;

    color: white;
    font-size: 1rem;
    font-weight: 800;
    font-family: "Karla", sans-serif;
    letter-spacing: 2.5px;
    text-transform: uppercase;
}

.sidebar--logout-btn:hover {
    filter: brightness(125%);
}
