.main {
    display: flex;
    flex-direction: column;

    width: 100%;
    height: 100%;

    padding: 25px;

    transition: 350ms;
}

.main h2 {
    margin: 0;
}

.form {
    display: flex;
    flex-direction: column;

    width: 30%;
    height: 100%;

    margin-top: 4vh;

    overflow: auto;
}

.form--inp-t,
.form--inp-p {
    width: 100%;
    height: 40px;

    color: #212121;
    background-color: #edf2f4;
    border: 2.5px solid black;
    border-radius: 5px;

    font-family: "Karla", sans-serif;
    font-size: 1rem;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.form--inp-s {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    width: 100%;
    height: 40px;

    color: #212121;
    background: #edf2f4
        url("data:image/svg+xml,<svg height='10px' width='10px' viewBox='0 0 16 16' fill='%23000000' xmlns='http://www.w3.org/2000/svg'><path d='M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z'/></svg>")
        no-repeat;
    background-position: calc(100% - 0.75rem) center !important;
    border: 2.5px solid black;
    border-radius: 5px;

    font-family: "Karla", sans-serif;
    font-size: 1rem;
    padding-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.form--subtitle:not(:nth-of-type(1)) {
    margin-top: 30px;
}

.form--permissions {
    display: flex;
    flex-direction: column;
    align-items: baseline;

    width: 100%;
    overflow: auto;
}

.form--permission {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;

    min-width: 100%;
    width: 100%;

    margin-top: 5px;
    padding: 2.5px 0 2.5px 0;
}

.form--password-warning {
    border: 2.5px solid black;
    border-radius: 5px;

    color: white;
    background-color: #ca2b53;

    font-size: 0.95rem;
    padding: 10px;
    margin-top: 10px;
}

.form--btn {
    width: 80px;
    height: 40px;

    border: 2.5px solid black;
    border-radius: 5px;

    font-family: "Karla", sans-serif;
    font-size: 1rem;

    margin-top: 4vh;
    padding: 5px;

    transition: 200ms;

    align-self: flex-end;
}

.form--btn:hover {
    filter: brightness(125%);
}

.form--btn:active {
    transform: scale(0.95, 0.95);
}

.form--add-btn {
    background-color: #40916c;
    color: white;
}

.form--del-btn {
    background-color: #ca2b53;
    color: white;
}
