@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");

html,
body {
    margin: 0px;
    padding: 0px;
    font-family: "Manrope", sans-serif;
    background-color: #353535;
}

.mainParent {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.logo {
    /* position: absolute; */
    width: 100vw;
    height: 5vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: red;
}

.logo h1 {
    font-size: 2.5vh;
}

.blackbox {
    display: flex;
    flex-direction: row;
    width: 95vw;
    height: 80vh;
}

.leftPart {
    width: 100%;
    border-radius: 15px 0px 0px 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: #d9d9d9;
}

.leftPart h2 {
    text-transform: uppercase;
}

.leftPart .recentUserList {
    width: 50%;
    height: 75%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.leftPart .recentUserList button {
    font-family: "Manrope", sans-serif;
    border: 0;
    padding: 10px;
    border-radius: 10px;
    margin: 7.5px;
}

.leftPart .recentUserList button td {
    width: 100%;
    padding: 5px;
}

.rightPart {
    width: 100%;
    border-radius: 0px 15px 15px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: #38d39f;
}

.rightPart h2 {
    text-transform: uppercase;
}

.navbar {
    width: 100vw;
    /* position: absolute;
    bottom: 0;
    left: 0; */
    background-color: #333;
}
.navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
.navbar a:hover {
    background: #f1f1f1;
    color: black;
}

.navbar a.active {
    background-color: #04aa6d;
    color: white;
}
